:root {
    --fond-marron: #a771374f;
    --titre: #67830b;
    --pied-page: #9ebd3c
}

html,
body {
    overflow-x: hidden
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/poppins-v20-latin-800.woff2') format('woff2')
}

* {
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
    list-style-image: none
}

a {
    text-decoration: none;
    color: black
}

body {
    font-family: 'Poppins';
    background-color: white
}

.container {
    max-width: 1600px;
    width: 100%;
    background-color: var(--fond-marron)
}

#bandeau {
    display: flex;
    justify-content: space-between;
    background-color: white
}

#bandeau #burger {
    margin-top: 20px;
    margin-right: 17px;
    font-size: 1.5rem
}

#bandeau #burger ul li {
    text-align: center;
    margin-right: 20px;
    padding-right: 10px
}

#bandeau #logo {
    width: 70px
}

.slider-wrapper {
    display: none
}

#accueil {
    display: flex
}

#accueil h1 {
    font-size: .9rem;
    color: var(--titre);
    margin-top: 3px;
    display: flex;
    justify-content: center;
    text-transform: uppercase
}

#accueil p {
    font-size: .7rem;
    color: black;
    padding: 5px;
    text-align: center
}

#accueil img {
    width: 100%
}

#contenuAccueil h2 {
    color: var(--titre);
    text-align: center;
    font-size: .9rem
}

#contenuAccueil p {
    font-size: 1.1rem;
    color: black;
    text-align: center;
    display: none
}

#blocA iframe {
    width: 90%;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex
}

#texte {
    font-size: 1.1rem;
    color: black;
    padding: 5px;
    text-align: center;
    display: none
}

#blocB img {
    width: 98%;
    height: 490px;
    display: none
}

#actualites h1 {
    font-size: 1rem;
    color: var(--titre);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase
}

#actualites p {
    margin-top: 20px;
    font-size: .8rem;
    color: black;
    padding: 5px;
    text-align: justify;
    margin: 15px
}

#noel img {
    width: 98%;
    height: 500px;
    padding: 4px
}

#gourmandises {
    display: none
}

#formContact p select {
    background: 0;
    border: 0;
    width: 100%
}

#formContact p select {
    font-family: 'Poppins';
    font-size: 1.2rem
}

#formContact p select option.taille {
    font-family: 'Poppins';
    font-size: 1.2rem
}

#contenuContact #contact {
    margin-top: 3px;
    display: flex;
    flex-direction: column
}

#contact h1 {
    font-size: 1rem;
    color: var(--titre);
    margin-top: 7px;
    display: flex;
    margin-left: 110px;
    text-transform: uppercase
}

#contact #formulaire {
    box-sizing: border-box;
    width: 80%;
    padding: 20px
}

#contact #formulaire input[type=text],
#contact #formulaire input[type=email],
#contact #formulaire input[type=tel],
#contact #formulaire textarea {
    width: 100%;
    padding: 0 5px 5px 5px
}

#contact #formulaire textarea {
    height: 80px;
    padding-top: 5px
}

#contact #formulaire p {
    margin: 25px 0
}

#contact #formulaire p:last-of-type(8) {
    display: flex
}

#contact #formulaire input[type=button] {
    background-color: var(--pied-page);
    color: black
}

#contact #formulaire .bouton {
    background-color: #97b9274e;
    padding: 7px 20px;
    display: flex;
    margin-left: 220px;
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

#messageErreur {
    margin-left: 20px;
    color: red
}

iframe {
    padding-top: 6px;
    display: none
}

#contenuMention .bloc {
    padding: 10px;
    margin-left: 10px
}

#contenuMention h1 {
    color: #67830b;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 1.4rem
}

#contenuMention h2 {
    color: #67830b;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-top: 10px
}

#contenuMention .bloc p {
    line-height: 20px;
    text-align: justify;
    padding-top: 10px;
    font-size: .8rem
}

#contenuMention .bloc a {
    text-decoration: underline
}

#contenuMention .bloc a:hover {
    color: blue
}

#pied {
    color: black;
    background-color: #9ebd3c
}

#pied #bas {
    display: flex;
    flex-wrap: wrap;
    padding: 1px
}

#pied #bas .colonne img {
    margin-top: 10px;
    width: 60px
}

#pied #bas .colonne {
    width: 20%;
    margin: 21px;
    font-size: .6rem
}

#pied #bas .colonne h3 {
    font-size: .6rem
}

#pied #bas #fleche {
    margin: 7px;
    margin-left: 40px;
    display: none
}

#pied #bas .colonne ul {
    display: flex
}

#pied #bas .colonne ul li {
    color: black;
    font-size: .8rem;
    margin: 2px
}

#pied #bas .colonne input {
    padding: 5px 10px
}

#pied #bas .colonne input[type=submit] {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px
}

#pied #bas .colonne p {
    margin: 8px 0 0 9px;
    font-size: .6rem
}

#pied #copyright {
    text-align: center;
    font-size: .6rem;
    background-color: white
}

#pied #bas .colonne:nth-of-type(4) {
    display: none
}

@media screen and (min-width:768px) {
    .container {
        max-width: 1700px;
        width: 100%;
        margin: 0 auto
    }

    #bandeau {
        align-items: center;
        max-height: 90px;
        background-color: rgba(220, 220, 220, 0.132)
    }

    #menuprincipal #burger {
        display: none
    }

    #bandeau #logo {
        width: 60%;
        padding: 7px;
        box-sizing: border-box
    }

    #menuprincipal ul {
        display: flex
    }

    #menuprincipal ul li a {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase
    }

    #menuprincipal ul li a:hover {
        color: var(--titre)
    }

    #menuprincipal ul li a.choix {
        border-bottom: 14px solid var(--pied-page);
        padding-bottom: 7px
    }

    .slider-wrapper {
        display: flex
    }

    .nivo-caption {
        left: 50px;
        bottom: 0;
        top: 130px;
        background: transparent;
        color: black;
        width: 40%;
        padding: 5px 10px;
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=8)
    }

    .theme-default .nivoSlide {
        box-shadow: none
    }

    #accueil {
        display: none
    }

    #contenuAccueil {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 30px
    }

    #pageAccueil {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        background-color: #fbf7f3
    }

    .slider-wrapper{
       margin-top: 12px;
      
    }

    #bienvenue h1 {
        padding: 20px;
        margin-top: 15px;
        margin-left: 200px;
        font-size: 2rem;
        text-align: center;
        display: flex;
        color: var(--titre);
        text-transform: uppercase
    }

    #contenuAccueil h2 {
        color: var(--titre);
        font-size: 1.5rem;
        text-align: center;
        margin-top: 6px;
        box-sizing: border-box
    }

    #bienvenue p {
        text-align: justify;
        margin-right: 10px;
        font-size: 1rem;
        line-height: 2rem;
        color: black;
        padding: 0 10px 0 20px
    }

    #blocA {
        height: 97%
    }

    #blocA iframe {
        display: flex;
        width: 97%;
        margin-left: 50px;
        margin-top: 20px;
        height: 475px
    }

    #blocB p {
        display: flex;
        margin-top: 10px;
        box-sizing: border-box;
        margin-left: 130px
    }

    #blocB {
        height: 97%;
        width: 96%
    }

    #blocB img {
        display: flex;
        width: 80%;
        margin-left: 90px;
        margin-top: 22px;
        max-height: 500px
    }

    #contenuActu {
        display: flex
    }

    #actualites h1 {
        padding: 20px;
        margin-top: 15px;
        font-size: 2rem;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        color: var(--titre);
        text-transform: uppercase
    }

    #actualites h2 {
        color: var(--titre);
        font-size: 1.6rem;
        text-align: center;
        margin-top: 3px
    }

    #actualites p {
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: black;
        padding: 0 10px 0 10px;
        text-align: justify
    }

    #gourmandises {
        display: flex;
        flex-direction: column;
        margin-top: 10px
    }

    #gourmandises img {
        display: flex;
        width: 47%;
        margin-left: 280px;
        margin-top: 7px;
        padding: 10px
    }

    #noel img {
        display: flex;
        width: 97%;
        margin-top: 60px;
        height: 87%
    }

    #contenuContact {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 1px;
        height: 80vh;
    }

    #contenuContact #contact {
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px
    }

    #contenuContact #contact h1 {
        padding: 5px;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        color: var(--titre);
        text-transform: uppercase;
        margin-left: 15px;
        margin-top: 40px
    }

    #contact #formulaire {
        box-sizing: border-box;
        width: 60%;
        padding: 5px;
        height: 76%;
        margin-left: 15px
    }

    #contact #formulaire input[type=text],
    #contact #formulaire input[type=email],
    #contact #formulaire input[type=tel],
    #contact #formulaire textarea {
        width: 100%;
        padding: 0 5px 5px 5px;
        height: 30px
    }

    #contact #formulaire textarea {
        height: 80px;
        padding-top: 5px;
        height: 100px
    }

    #contact #formulaire p {
        margin: 25px 0
    }

    #contact #formulaire p:nth-of-type(8) {
        display: flex;
        justify-content: right
    }

    #contact #formulaire .bouton:nth-of-type(2) {
        margin-left: 30px
    }

    #contact #formulaire input[type=button] {
        background-color: var(--pied-page);
        color: black
    }

    #contact #formulaire .bouton {
        background-color: #97b9274e;
        padding: 7px 20px;
        display: flex;
        margin-left: 253px
    }

    #contenuContact iframe {
        display: flex;
        padding-top: 140px;
        width: 90%;
        height: 500px;
    }

    #contenuMention .bloc {
        padding: 10px;
        margin-left: 10px
    }

    #contenuMention h1 {
        color: #67830b;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px
    }

    #contenuMention h2 {
        color: #67830b;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding-top: 10px
    }

    #contenuMention .bloc p {
        line-height: 30px;
        text-align: justify;
        padding-top: 10px;
        width: 80%;
        margin: 0 auto;
        font-size: 1rem
    }

    #contenuMention .bloc a {
        text-decoration: underline
    }

    #contenuMention .bloc a:hover {
        color: blue
    }

    #pied {
        color: black
    }

    #pied #bas {
        display: flex;
        flex-wrap: wrap;
        background-color: #9ebd3c
    }

    #pied #bas .colonne {
        width: 20%;
        font-size: 1rem;
        margin: 20px
    }

    #pied #bas .colonne img:nth-last-of-type(1) {
        width: 30%
    }

    #pied #bas .colonne:nth-of-type(3) {
        display: table-column
    }

    #pied #bas .colonne:nth-of-type(4) {
        display: table-column;
        width: 20%;
        margin: 7px;
        font-size: 1rem;
        margin-top: 20px
    }

    #pied #bas #fleche {
        margin-top: 35px;
        margin-left: 90px;
        display: flex
    }

    #pied #bas .colonne ul {
        display: flex
    }

    #pied #bas .colonne ul li {
        color: black;
        font-size: 1.8rem;
        margin-left: 15px
    }

    #pied #bas .colonne input {
        padding: 5px 10px
    }

    #pied #bas .colonne input[type=submit] {
        background-color: black;
        color: white;
        border: 0;
        border-radius: 20px
    }

    #pied #bas .colonne h3 {
        font-size: 1rem
    }

    #pied #bas .colonne p {
        margin: 5px 0 10px;
        font-size: 1rem
    }

    #pied #copyright {
        background-color: white;
        text-align: center;
        font-size: .7rem
    }
}

@media screen and (min-width:992px) {
    #menuprincipal ul li a {
        margin-left: 10px;
        font-size: 1rem;
        padding: 20px
    }

    #bienvenue {
        max-height: 348px;
        background-color: #fbf7f3
    }

    #bienvenue h1 {
        padding: 10px;
        margin-top: 15px;
        margin-left: 130px;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        color: var(--titre);
        text-transform: uppercase
    }

    #contenuAccueil h2 {
        color: var(--titre);
        font-size: 1.3rem;
        text-align: center;
        margin-top: 6px
    }

    #bienvenue p {
        text-align: justify;
        margin-right: 10px;
        font-size: 1rem;
        line-height: 1.4rem;
        color: black
    }

    #blocB p {
        display: flex;
        margin-top: 10px;
        margin-left: 130px;
        font-size: .8rem
    }

    #actualites h1 {
        padding: 20px;
        margin-top: 15px;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        color: var(--titre);
        text-transform: uppercase
    }

    #actualites h2 {
        color: var(--titre);
        font-size: 1.3rem;
        text-align: center;
        margin-top: 3px
    }

    #actualites p {
        font-size: 1rem;
        line-height: 1.7rem;
        color: black;
        padding: 0 10px 0 10px;
        text-align: justify
    }

    #gourmandises img {
        display: flex;
        width: 47%;
        margin-left: 200px;
        margin-top: 7px;
        padding: 10px
    }

    #contenuContact {
        gap: 10px;
        height: 140vh
    }

    #contact #formulaire {
        box-sizing: border-box;
        width: 60%;
        padding: 5px;
        height: 56%;
        margin-left: 15px
    }

    #pied #bas .colonne {
        width: 17%;
        font-size: 1rem;
        margin: 20px
    }
}

@media screen and (min-width:1700px) {
    #menuprincipal ul li a {
        margin-left: 10px;
        font-size: 1.4rem;
        padding: 20px;
        text-transform: uppercase
    }

    #bienvenue {
        max-height: 441px;
        background-color: #fbf7f3
    }

    #bienvenue p {
        text-align: justify;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: black
    }

    #blocB p {
        display: flex;
        margin-top: 10px;
        margin-left: 130px;
        font-size: 1rem
    }

    #actualites h1 {
        padding: 20px;
        margin-top: 25px;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        color: var(--titre);
        text-transform: uppercase
    }

    #actualites h2 {
        color: var(--titre);
        font-size: 1.3rem;
        text-align: center;
        margin-top: 10px
    }

    #actualites p {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: black;
        padding: 0 10px 0 10px;
        text-align: justify;
        margin-top: 20px
    }

    #gourmandises img {
        display: flex;
        width: 47%;
        margin-left: 250px;
        margin-top: 7px;
        padding: 10px
    }

    #contenuContact {
        height: 80vh
    }

    #contact #formulaire {
        box-sizing: border-box;
        width: 60%;
        padding: 5px;
        height: 56%;
        margin-left: 15px
    }

    #pied #bas .colonne {
        width: 20%;
        font-size: 1rem;
        margin: 20px
    }
}